.container{
    flex-direction: column;
}

.header{
    background-color: lightseagreen;
    height: 100px;
}

.main{
    background-color: rgb(58, 80, 87);
    height: 500px;
    display: flex;
}

.footer{
    background-color: lightseagreen;
    height: 100px;
}

.aside{
    background-color: lightskyblue;
    width: 20%;
}

.article{
    background-color: lightpink;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.foto img{
    width: 250px;
    margin: 1em;
}

.foto{
    display: flex;
    justify-content: center;
}